.card-item img{
        width: 100%;
        height: fixed;
        

}

.card-item{
    display: flex;
    flex-direction: column;
    box-shadow: black;
    flex-grow: inherit;
    
}
.card-item p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 16px;
    
    
}

.card-item span {
    margin-bottom: 10px;
    font-size: 16px;
    

}