.form-cart {
    display: flex;
    flex-direction: column;
    
}

.form-cart > div {
    margin-bottom: 15px;
    text-decoration: underline;
}

.btn-custom-cart{
    background: black;
    border-radius: 40px;
    text-transform: none;
    color: white;
    font-family: 'Lato';
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
}
.cart-footer button{
    background: black;
    border-radius: 40px;
    text-transform: none;
    color: white;
    font-family: 'Lato';
    padding: 10px 20px;
    margin-top: 50px ;
    font-size: 14px;
    display: flex;
    margin-left: 0px;
    margin-right: 100px;
}

    .col-cart-table__head {
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    
    .col-cart-table__head h2 {
        font-size: 14px;
        width: 20%;
    }
    
    .cart-table__content {
        display: flex;
    }
    
    .cart-table__content-img {
        width: 10% !important ;
        height: 350px;
        border-radius: 50%;
    }
    
    .cart-table__content-title {
        width: 50%;
        font-weight: bold;
    }
    
    .cart-table__content-price, .cart-table__content-quantity {
        width: 20%;
    }
    
    .cart-table__content > div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
    }
    
    .cart-table__content-title {
        flex-direction: column;
    }