.navbar {
    background-color: rgb(40, 21, 21);
    color: rgb(65, 9, 9);
    width: 100%;
    border-bottom: 1px solid;
    text-align: center;
    display: flex;


}

.header-appbar {
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc;
}
.header-appbar .navbar li {
    margin-right: 25px;
}
.container-logo{
    width: 150px;
}
.container-logo img{
    width: 100%;
}

.navbar-menu{
    list-style: none;
    background-attachment: fixed;

}

.login-boton{
    text-align: center;
    margin-right: 40px;
}

.btn-navbar{
    color: white;
    list-style: none;
    text-align:center;
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family:cursive;
    margin: 100px;
}

.btn-navbar:hover{
    font-size: 22px;
}

