.navbar {
    background-color: black;
    color: rgb(65, 9, 9);
    width: auto;
    border-bottom: 1px solid;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
    float: left;


}

.header-appbar {
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc;
}
.header-appbar .navbar li {
    margin-right: 25px;
}
.container-logo{
    width: 150px;
}
.container-logo img{
    width: 100%;
}

.navbar-menu{
    list-style: none;
    background-attachment: fixed;
    

}

.login-boton{
    margin-right: 40px;
    margin: auto;
    padding: auto;
    padding-left: 50%;

}

.btn-navbar{
    color: white;
    list-style: none;
    text-align:center;
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    padding: auto;
    text-transform: none;
    text-decoration:none;
    
}

.btn-navbar:hover{
    font-size: 22px;
}

.item-cart-prod {
    float: left;
    width: 355px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
}

.cart-prod__image {
    width: 20%;
}

.cart-prod__image img {
    width: 100%;
}

.cart-prod__info {
    padding: 5px 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.cart-prod__action {display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.cart-prod__action button {
    background: none;
    border: none;}

.cart-prod__info p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.cart-prod__info span {
    font-size: 14px;
    margin-top: 0px;
}
.container-item-list-cart {
    display: flex;
    flex-direction: column;
}

.item-cart-prod:nth-last-child(1) {
    border: none;
}

.container-item-list-cart > p {
    font-weight: 700;
    text-align: center;
}

.container-item-list-cart > a {
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
}


