.navbar {
    background-color: black;
    color: rgb(65, 9, 9);
    font-family: fantasy;
    float: left;
    width: 100%;
    border-bottom: 1px solid;
    text-align: center;

}

.container-logo{
    width: 150px;
}
.container-logo img{
    width: 100%;
}

.navbar-menu{
    list-style: none;
    display: inline;
    text-align:left;
    background-attachment: fixed;



}

.login-boton{
    text-align: right;
    
}

.btn-navbar{
    color:white;
    list-style: none;
    display: inline;
    text-align:center;
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family:cursive;
    margin: 100px;
}

.btn-navbar:hover{
    font-size: 22px;
}

