
.btn-custom-card-ItemCount button {
    background: black;
    border-radius: 40px;
    text-transform: none;
    color: white;
    font-family: 'Lato';
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 14px;
    
    }